/* ================= game_view.css ============ */


table {
    margin: 0 auto;
    color: white;
    background-color: darkblue;
    border-collapse: collapse;
}

td {
    text-align: center;
    height: 45px;
    width: 45px;
}

thead td {border: none;}
tbody td {border: 2px dotted lightgreen;}
.empty {border: none;}

#gpls {

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#gpls div {padding: 15px;}

#gpls div span b {color:darkblue;}

.red { color: red;}