 /* =============== games.css ============== */



 #games_list li, #player_games_list li {

        list-style: none;

        }

#scores {
    background-color: darkblue;
    color: white;
    width: 600px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}

#scores td { padding: 10px;}
#scores th { text-decoration: underline;}

.center { text-align: center;}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}