<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo Games</title>
    <link rel="stylesheet" type="text/css" href="games.css">
    <!--JQuery & Angular 1.5.7 CDNS -->
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>
<body ng-app="GamesPageModule" ng-controller="GamesController" >
<section   id="security">
<div ng-show="guest" id="guest-info" class="space-around">
<h4>Player Login</h4>
<form  id="login-form" onsubmit="return false">
    <label>Username: <input ng-model="username" type="text" name="username"></label>
    <label>Password: <input ng-model="password" type="password" name="password"></label>
    <button ng-click="logMeIn()" id="login-button">Log In</button>
</form>
</div>
    <div ng-show="guest" id="signup" class="space-around">
        <h4>Player Signup</h4>
        <form  id="signup-form" onsubmit="return false">
            <label>U: <input ng-model="new_username" type="text" name="new_username" placeholder="new username"></label>
            <label>E: <input ng-model="new_email" type="text" name="new_email" placeholder="new email"></label>
            <label>P: <input ng-model="new_password" type="password" name="new_password" placeholder="new password"></label>
            <button ng-click="signMeUp()" id="signup-button">Sign Up</button>
        </form>
    </div>
<div  ng-show="user" id="user-info" class="space-around">
    <h4>Welcome {{player.username}}</h4>
    <h4>{{player.email}}</h4>
    <form id="logout-form" onsubmit="return false">
        <button ng-click="logMeOut()" id="logout-button">Log out</button>
    </form>
</div>
<div  ng-style="feedback_style"id="feedback">
    <!--ng-show="response != null"-->
    <span  >{{feedback_message}}</span>
</div>
    <div  ng-show="user" id="ui-buttons" class="space-around">
        <form id="create-game-form">
            <button ng-click="createGame()">Create Game</button>
        </form>

    </div>
</section>

<!-- ======== Leaderboard ======= -->
<h2 class="center">Leaderboard</h2>
<form ng-show="user" id="join-game-form">
    <button ng-click="joinGameById()">Join Game By Id</button>
</form>
<div id="new-pl-signup">
<button  ng-show="guest" ng-click="showSignup()">New Player Signup</button>
</div>
<table id="scores" >
    <thead>
    <tr ><th>User</th><th>Total Points</th><th>Won</th><th>Lost</th><th>Tied</th></tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, score) in scores_obj"><td>{{key}}</td><td>{{score[0]}}</td><td>{{score[1]}}<td>{{score[2]}}</td><td>{{score[3]}}</td></td></tr>

    </tbody>

</table>

<section id="games" class="center">
<div ng-show="user" id="user-games">
    <h2>Games played by {{player.username}}</h2>
    <div >
        <ul id="player_games_list">
            <li ng-repeat="game in player_games" >
                <u class="game-title"><b >Game {{game.game_id}}</b></u><br /><br />
                <b>Creation Date:</b></b> {{game.game_date}}<br /><br />
                <span ng-repeat="player in game.game_players">

                    <!--TODO: remove GP numbers from the front end-->

                    <span>(GP#{{player.gp_id}})</span>
                    <b> {{player.username}} </b>
                     {{player.joining_date }}
                    <a id="player.gp_id" ng-show="player.pl_id == games_obj.player.id" ng-href="/game.html?gp={{player.gp_id}}">
                        Join Game#{{game.game_id}} </a>
                    <br />
                </span>

                <!--getUrl(game.game_id)-->
                <br /><br />
            </li>
        </ul>

    </div>
</div>

<div id="all-games">
<h2>Active Salvo Games</h2>
<ul id="games_list">
    <li ng-repeat="game in games" game-data="{{game.game_id}}">
        <u class="game-title"><b >Game {{game.game_id}}</b></u><br /><br />
        <b>Creation Date:</b></b> {{game.game_date}}<br /><br />
        <span ng-repeat="player in game.game_players">
            <b>Player {{player.id}}:</b> {{player.username}}
            <b>Joined:</b> {{player.joining_date }} <br />
        </span>
        <button ng-show="game.game_players.length < 2" ng-click="joinGame(game.game_id)">Join Game</button>
        <br /><br />
    </li>
</ul>
</div>
</section>
<script type="text/javascript" src="js/angular_app.js"></script>
<script typer="text/javascript" src="js/gamesPage/gamesController.js"></script>
</body>
</html>