<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player's Salvo Game</title>
    <link rel="stylesheet" type="text/css" href="game_view.css">
    <!--JQuery & Angular 1.5.7 CDNS -->
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>
<body ng-app="PlayerViewModule" ng-controller="PlayerViewController" ng-cloak>
<div id="user-game-view-title">
<h2 class="center" >{{userGamePlayer.player.username}}'s Game View</h2>
<h4 class="center" >Game #{{game_view_obj.game_id}} | Created: {{game_view_obj.created}}</h4>
<h4 class="center" ng-show="showTurnInfo()">Current Turn: <span>{{current_turn}}</span></h4>
</div>
<h4 class="center user-info" ng-bind="user_info" ng-show="showTurnInfo()"></h4>
<h4 class="center user-info" ng-bind="user_info_ships" ng-show="!showTurnInfo()"></h4>
<div class="center" id="submit-salvos" ng-show="salvosReady()">
    <button ng-click="submitSalvos()">Submit Salvos</button>
</div>
<br />
<section id="grids" class="space-around">
<div id="user">
    <div id="player-info-user" class="player-info">
        <span><b>Player: </b>{{userGamePlayer.player.username}}</span><br/>
        <span><b>E-mail: </b>{{userGamePlayer.player.email}}</span><br />
        <span><b>Joining Date: </b>{{userGamePlayer.player.joining_date}}</span>
    </div>
    <table id="user-grid">
        <thead>
        <tr>
            <td></td>
            <td ng-repeat="number in nums">{{number}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="letter in abc" >
            <th>{{letter}}</th>
            <td ng-repeat="number in nums" data-cell="{{letter}}{{number}}"
                ng-mouseover="showShip(letter, number)"
                ng-click="placeShip(letter, number)"
                ng-style="getStyle(letter+number)"
            >
                <span ng-bind="isHitByEnemy(letter+number)"></span>
            </td>
            <td class="empty"></td>
        </tr>
        <tr>
            <td class="empty" ng-repeat="number in nums"></td>
        </tr>
        </tbody>
    </table>
</div>
    <!--end #user-->
 <!-- shipPlacingUI     -->
    <div id="shipPlacingUI" ng-show="!ships_placed()">
        <div id="ship-legend">
            <div ng-repeat="ship in ship_types">
                <span  class="ship space-around" ng-click="selectShip($index)">
                <span ng-class="getLegendNameClass($index)" id="legend{{$index}}" data-ship-type="{{ship.type}}">{{ship.type}} </span>
                <span id="ship{{$index}}" ng-class="getLegendShipClass($index)"><span  class="mock-cell" ng-repeat="ship in ship_types | limitTo:ship.cells">&nbsp;&nbsp;&nbsp;</span></span>
                </span>
            </div>
        </div>
        <div id="ship-placing-modal" >
            <div id="modal-1">
                <span>1) Click on a ship from the legend</span>
                <select ng-model="ship_name" hidden>
                    <option ng-repeat="ship in ship_types">{{ship.type}}</option>
                </select>
            </div>
            <div id="modal-2">
                <span>2) Select an orientation: </span>
                <select ng-model="ship_align">
                    <option data-orient="V" >Vertical</option>
                    <option data-orient="H" >Horizontal</option>
                </select>
            </div>
            <div id="modal-3">
                <span>3) Click on a grid-cell to place the ship</span>
            </div>
            <div id="modal-4">
                <button ng-click="saveShips()">Save Ships</button>
            </div>
        </div>
    </div>

<!--end #shiPlacingUI-->
    <!-- #enemy  -->
<div id="enemy" ng-show="ships_placed()">
    <div class="player-info">
        <span><b>Enemy Player: </b>{{enemyGamePlayer.player.username}}</span><br />
        <span><b>E-mail: </b>{{enemyGamePlayer.player.email}}</span><br />
        <span><b>Joining Date: </b>{{enemyGamePlayer.player.joining_date}}</span>
    </div>
    <table id="enemy-grid">
        <thead>
            <tr>
                <td></td>
                <td ng-repeat="number in nums">{{number}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="letter in abc" >
                <th>{{letter}}</th>
                <!-- TODO define new conditions for getTurn" -->
                <td ng-repeat="number in nums"
                    data-cell="{{letter}}{{number}}"
                    ng-click="targetCell(letter+number)"
                    ng-style="getEnemyStyle(letter+number)"
                >
                    <!--writing the salvo turn on the enemie's grid-->
                    <span ng-bind="getTurn(letter+number)"></span>
                </td>
                <td class="empty"></td>
            </tr>
            <tr>
                <td class="empty" ng-repeat="number in nums"></td>
            </tr>
        </tbody>
    </table>
</div>
<!--end #enemy-->
</section>
<!--end #grids-->
<!--//ng-show="showHistoryUI()"-->
<section id="salvo-history-UI" ng-show="show_history_UI" >
    <h3 class="center">Salvo Turn History</h3>
    <div id="player-history">
        <p id="s1">Aircraft Carrier</p>
        <table>
        <tr id="AircraftCarrier" class="ship">
            <td  class="mock-cell s0"></td>
            <td  class="mock-cell s1"></td>
            <td  class="mock-cell s2"></td>
            <td  class="mock-cell s3"></td>
            <td  class="mock-cell s4"></td>
        </tr>
        </table>
       <p id="s2">Battleship</p>
        <table>
        <tr id="Battleship" class="ship">
            <td  class="mock-cell s0"></td>
            <td  class="mock-cell s1"></td>
            <td  class="mock-cell s2"></td>
            <td  class="mock-cell s3"></td>
        </tr>
        </table>
        <p id="s3">Submarine</p>
        <table>
        <tr id="Submarine" class="ship">
            <td  class="mock-cell s0"></td>
            <td  class="mock-cell s1"></td>
            <td  class="mock-cell s2"></td>
        </tr>
        </table>
        <p id="s4">Destroyer</p>
        <table>
        <tr id="Destroyer" class="ship">
            <td  class="mock-cell s0"></td>
            <td  class="mock-cell s1"></td>
            <td  class="mock-cell s2"></td>
        </tr>
        </table>
        <p id="s5">Patrol Boat</p>
        <table>
        <tr id="PatrolBoat" class="ship">
            <td  class="mock-cell s0"></td>
            <td  class="mock-cell s1"></td>
        </tr>
        </table>
    </div>

    <div id="enemy-player-history">
        <p id="E-s1">Aircraft Carrier</p>
        <table>
            <tr id="E-AircraftCarrier" class="ship">
                <td  class="mock-cell s0"></td>
                <td  class="mock-cell s1"></td>
                <td  class="mock-cell s2"></td>
                <td  class="mock-cell s3"></td>
                <td  class="mock-cell s4"></td>
            </tr>
        </table>
        <p id="E-s2">Battleship</p>
        <table>
            <tr id="E-Battleship" class="ship">
                <td  class="mock-cell s0"></td>
                <td  class="mock-cell s1"></td>
                <td  class="mock-cell s2"></td>
                <td  class="mock-cell s3"></td>
            </tr>
        </table>
        <p id="E-s3">Submarine</p>
        <table>
            <tr id="E-Submarine" class="ship">
                <td  class="mock-cell s0"></td>
                <td  class="mock-cell s1"></td>
                <td  class="mock-cell s2"></td>
            </tr>
        </table>
        <p id="E-s4">Destroyer</p>
        <table>
            <tr id="E-Destroyer" class="ship">
                <td  class="mock-cell s0"></td>
                <td  class="mock-cell s1"></td>
                <td  class="mock-cell s2"></td>
            </tr>
        </table>
        <p id="E-s5">Patrol Boat</p>
        <table>
            <tr id="E-PatrolBoat" class="ship">
                <td  class="mock-cell s0"></td>
                <td  class="mock-cell s1"></td>
            </tr>
        </table>
    </div>

</section>
<br><br>
<div class="center" hidden>
<h4>Ships</h4>
<p ng-repeat="ship in ships"><b>Type: </b>{{ship.type}}  &nbsp; <b>Locations: </b><span ng-repeat="loc in ship.locations">{{loc}} &nbsp; </span></p>
</div>
<script type="text/javascript" src="js/angular_app.js"></script>

<script type="text/javascript" src="js/gameView/playerViewController.js"></script>
<script typer="text/javascript" src="js/gamesPage/gamesController.js"></script>

<script type="text/javascript" src="js/angular_services.js"></script>
<script type="text/javascript" src="js/gameView/gameViewService.js"></script>
<script type="text/javascript" src="js/gameView/placingShipsService.js"></script>
<script type="text/javascript" src="js/gameView/salvosLogicService.js"></script>
<script type="text/javascript" src="js/gameView/gameHistoryService.js"></script>


</body>
</html>