/* ================= game_view.css ============ */

.center { text-align: center;}
table {
    margin: 0 auto;
    color: white;
    background-color: rgba(0,51,153, 0.8);
    border-collapse: collapse;
}

td {
    text-align: center;
    height: 45px;
    width: 45px;
}

thead td {border: none;}
tbody td {border: 2px dotted lightgreen;}
.empty {border: none;}

#gpls {

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#gpls div {padding: 15px;}

#gpls div span b {color:darkblue;}

#grids {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.space-around {
     display:flex;
     flex-direction: row;
     align-content: space-around;
     align-items: center;
     justify-content: center;
}
.player-info {
    padding: 15px 5px;
}


/* ====== ship placing UI ======== */

/*#shipPlacingUI {
    width: 400px;
    margin: 0 auto;
}*/

#ship-legend {
    margin-bottom: 50px;
}

.ship span{
    width: 140px;
    /*border: 1px dotted lightgray;*/
    padding: 5px;
    margin: 5px 0px;
}

div.ship {
    width: auto;
    margin:0px;
    display: block;


}

.mock-cell {
    background-color: green;
    border: 1px dotted lightgreen;
    margin:15px 0px;
    color: lightgreen;
    width: 30px;
    height: 30px;

}

#ship-placing-modal, #ship-placing-modal div {
    margin: 20px 0px;

}


#ship-placing-modal span {
    position:relative;
    left: -20px;
}


/* ======== Salvo History UI ======== */

#salvo-history-UI table { display: block;
        margin-left: 10px;
        width: 150px;
        background-color: transparent;
}

#salvo-history-UI td {

    border: 1px solid lightgreen;
}
#salvo-history-UI p {
    display: block;
    -webkit-margin-before: 10px;
    -webkit-margin-after:5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 12px 0px 5px;
    padding-left: 10px;

}
#salvo-history-UI h3{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
}
#salvo-history-UI {
    width: 1280px;
    height: 460px;
     margin: 30px auto;
}

#player-history  {
    float: left;
     width: 640px;

}

#enemy-player-history { float: left;  width: 300px; margin-left: 100px;}


.sunk td{

    background-color: darkred!important;
    color: red !important;
    border: 1px solid red !important;

}

/* ======== look & feel =====  */

.user-info {

    background-color:  rgba(255,153,0, 0.8);
    color: white;
    height: 40px;
    padding-top: 20px;
    /*opacity: 0.59;*/
    margin: 0px 60px;
    border-radius: 10px;

}

button {
    color: white;
    background-color: #336699;
    border: 1px solid white;
    border-radius: 10px;
    height: 28px;
    font-size: 16px;
}

button:hover {
   background-color: orange;

}

#submit-salvos button{

    margin-top: 30px;
    font-size: 20px;
}


body {
    font-family: Helvetica;
    color: orange;
    background: url(img/game-bckgrnd.jpeg) 0px 169px no-repeat #336699;
    background-size: contain;
    margin: 0px;
    height: 1080px;
}

body b, body h2 {
    color: darkorange;
}


#user-game-view-title {
    background-color: rgba(0,0,0,0.5);
    margin: 0px;
    padding-top: 10px;

}
#player-info-user {
    background-color: rgba(0,0,0,0.5);
    width: 300px;
    color: white;
    border-radius: 10px;

}

#grids {
    margin-bottom: 20px;
}

.placed-ship {
    /*background-color: darkred;
    border: 1px dotted lightpink;*/
    visibility: hidden;

}

.placed-legend {
    color: red;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

